# Ignore Ansible retry files
*.retry

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore Vim swap files
*.swp

# Ignore vault password
.vault_pass

# Ignore the generated context file
content_exporter.txt

# Ignore local virtual environments if kept inside this folder
venv/
.venv/

# Ignore .env from docker
.env

# terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform.lock.hcl
